<?xml version="1.0" ?>
<launch>
  <!-- Show joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <remap from="/joint_states" to="/opc/thormang3/joint_states" />
    <rosparam param="source_list">["/robotis/thormang3/joint_states"]</rosparam>
  </node>

  <!-- Show in Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find thormang3_description)/rviz/thormang3_display.rviz" output="screen"/> -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find thormang3_description)/rviz/thormang3_bear_display.rviz" output="screen"/>
</launch>
